<div class="col-lg-8">
    <div class="row">


        <!-- Recent Sales -->
        <div class="col-12">
            <div class="card recent-sales overflow-auto">

                {% include 'admin/role/content/mini_menu.html.twig' %}


                <div class="card-body">
                    <h5 class="card-title">
                            <div class="row">
                                <div class="col-3">{{ titlepage }}</div>
                            </div>
                    </h5>

                    {% include 'admin/role/content/insert.html.twig' %}
                    {% include 'admin/role/content/mini_menu.html.twig' %}

                </div>

            </div>
        </div><!-- End Recent Sales -->

    </div>
</div>
