<style>
    .step-number{
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 30px;
        color: var(--heading-color);
    }

</style>


<section>

    <div class="container">

        <div class="row gy-4">


    </div>

</section><!-- /Portfolio Details Section -->
