<section id="hero" class="hero section dark-background">

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

        <div class="carousel-item active">
            <img src="{{ asset('') }}assets/img/slider/s3.jpeg" alt="Image 1">
            <div class="info d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-8 text-center">
                            <h2>Construire la Confiance, Mener la Croissance</h2>
                            <p>Présentez votre entreprise avec confiance à travers des solutions numériques flexibles et entièrement responsives.</p>
                            <a href="#featured-services" class="btn-get-started">Commencer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ asset('') }}assets/img/slider/s2.jpeg" alt="Image 2">
            <div class="info d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-8 text-center">
                            <h2>Innovation au Cœur de Nos Services</h2>
                            <p>Nous sommes dédiés à la satisfaction client et à une relation construite sur la transparence et la confiance mutuelle.</p>
                            <a href="#featured-services" class="btn-get-started">Nos Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{{ asset('') }}assets/img/slider/s1.jpeg" alt="Image 3">
            <div class="info d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-8 text-center">
                            <h2>Renforcez Votre Identité de Marque</h2>
                            <p>Attirez de nouvelles opportunités et connectez-vous efficacement avec vos clients cibles grâce à un design épuré.</p>
                            <a href="#featured-services" class="btn-get-started">En Savoir Plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>


</section>
