<IfModule mod_rewrite.c>
RewriteEngine On

RewriteRule ^\.env - [F]


RewriteRule ^(src|var|vendor|bin|tests|config|migrations|translations|templates)/ - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
</IfModule>
