<!-- Services Section -->
<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title">
        <h2>Services</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6">
                <div class="services-content" data-aos="fade-left">
                    <span class="subtitle">Professional Services</span>
                    <h2>Elevating Business Performance Through Strategic Solutions</h2>
                    <p data-aos="fade-right" data-aos-duration="800">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius risus sed pellentesque auctor. Phasellus gravida magna at tortor cursus, sit amet suscipit tortor malesuada.</p>
                    <div class="mt-4" data-aos="fade-right" data-aos-duration="1100">
                        <a href="service-details.html" class="btn-consultation"><span>Request a Consultation</span><i class="bi bi-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-image" data-aos="fade-left">
                    <img src="{{ asset('') }}assets/img/services/services-9.webp" alt="Business Services" class="img-fluid">
                    <div class="shape-circle"></div>
                    <div class="shape-accent"></div>
                </div>
            </div>
        </div>

        <div class="row mt-5" data-aos="fade-up">
            <div class="col-12">
                <div class="services-slider swiper init-swiper">
                    <script type="application/json" class="swiper-config">
                        {
                            "slidesPerView": 3,
                            "spaceBetween": 20,
                            "loop": true,
                            "speed": 600,
                            "autoplay": {
                                "delay": 5000
                            },
                            "navigation": {
                                "nextEl": ".swiper-nav-next",
                                "prevEl": ".swiper-nav-prev"
                            },
                            "breakpoints": {
                                "320": {
                                    "slidesPerView": 1
                                },
                                "768": {
                                    "slidesPerView": 2
                                },
                                "992": {
                                    "slidesPerView": 3
                                }
                            }
                        }
                    </script>
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="service-card">
                                <div class="icon-box">
                                    <i class="bi bi-bar-chart-fill"></i>
                                </div>
                                <a href="service-details.html" class="arrow-link"><i class="bi bi-arrow-right"></i></a>
                                <div class="content">
                                    <h4><a href="service-details.html">Financial Strategy Development</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Cras vehicula magna eget lectus varius, at finibus massa condimentum.</p>
                                    <div class="service-number">01</div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="service-card">
                                <div class="icon-box">
                                    <i class="bi bi-graph-up-arrow"></i>
                                </div>
                                <a href="service-details.html" class="arrow-link"><i class="bi bi-arrow-right"></i></a>
                                <div class="content">
                                    <h4><a href="service-details.html">Market Expansion Advisory</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Cras vehicula magna eget lectus varius, at finibus massa condimentum.</p>
                                    <div class="service-number">02</div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="service-card">
                                <div class="icon-box">
                                    <i class="bi bi-shield-check"></i>
                                </div>
                                <a href="service-details.html" class="arrow-link"><i class="bi bi-arrow-right"></i></a>
                                <div class="content">
                                    <h4><a href="service-details.html">Risk Management Solutions</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Cras vehicula magna eget lectus varius, at finibus massa condimentum.</p>
                                    <div class="service-number">03</div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="service-card">
                                <div class="icon-box">
                                    <i class="bi bi-lightbulb-fill"></i>
                                </div>
                                <a href="service-details.html" class="arrow-link"><i class="bi bi-arrow-right"></i></a>
                                <div class="content">
                                    <h4><a href="service-details.html">Innovation &amp; Digital Transformation</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Cras vehicula magna eget lectus varius, at finibus massa condimentum.</p>
                                    <div class="service-number">04</div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-slide">
                            <div class="service-card">
                                <div class="icon-box">
                                    <i class="bi bi-people-fill"></i>
                                </div>
                                <a href="service-details.html" class="arrow-link"><i class="bi bi-arrow-right"></i></a>
                                <div class="content">
                                    <h4><a href="service-details.html">Talent Management Strategy</a></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Cras vehicula magna eget lectus varius, at finibus massa condimentum.</p>
                                    <div class="service-number">05</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="swiper-navigation">
                    <button class="swiper-nav-prev"><i class="bi bi-chevron-left"></i></button>
                    <button class="swiper-nav-next"><i class="bi bi-chevron-right"></i></button>
                </div>
            </div>
        </div>

    </div>

</section><!-- /Services Section -->
